.rightfood{flex: 1; overflow-y: scroll;}
.rightfood .hot{height: 26px;
			    line-height: 26px;
			    padding-left: 12px;
			    font-size: 12px;
			    color: #93999f;
			    background: #f3f5f7;
			    border-left: 2px solid #d9dde1}
.foot-item{position: relative; display: flex;margin: 0 18px;padding: 18px 0;border-bottom: 1px solid rgba(7,17,27,.1);}
.foot-item .icon{width:57px; height:59px; float: left; }
.foot-item .icon img{width:100%}
.content{flex: 1;}
.content h2{margin: 2px 0 8px;
		    font-size: 14px;
		    line-height: 14px;
		    height: 14px;
		    font-weight: 700;
		    color: #07111b;}
.content .description{font-size: 10px;
					    margin-bottom: 8px;
					    line-height: 12px;}
.content .sell-info{font-size: 10px;
					    color: #93999f;
					    line-height: 10px;}
.sellCount{margin-right: 4px;}
.cart{position: absolute; right: 0; bottom: 24px;}
.cart span.short{display: none;}
.cart span{width:24px; height: 25px; display:block; float: left;}
.cart span i{font-size: 25px; color: #00a0dc;}
.cart .jia i{position: absolute;}
.clickCount{text-align: center;}
#swiperRight{ height:100%; }
#swiperRight .swiper-slide{ height:auto !important; }
.iactive{
	animation:1s cubic-bezier(.9,-1.46,1,1.2) divRun1 , 1s ease-in divRun2;
}
.jiaa{display: block;}
@keyframes divRun1{
	0%{}
   100%{ top:400px; }
}
@keyframes divRun2{
		0%{}
	   100%{ left:400px; }
}



.detaileWrap{
	position: fixed; 
	left : 375px;
	width:100%;
    height: 100%;
    z-index:99999;
    top:0;
}
.pic{width:375px; height: 425px; position: relative; top:0; left: 0 }
.back{width: 40px; height: 40px;}
.back span{
		position: absolute;
	    color: #fff;
	    top: 0px;
	    left: -1px;
	    font-size: 20px;
	    padding: 10px;
	    z-index: 10
 }
 .img1{
	 	position: absolute;
	    top:0; 
	    left: 0;
	    width: 100%;
	    height: 425px;
 }
 .inffo{
 	position: relative;
    box-sizing: border-box;
    width: 100%;
    padding: 18px;
    background: #fff;
 }

 .tit{
 	font-size: 14px;
    font-weight: 700;
    color: #07111b;
    line-height: 14px;
 }
 .des{
 	display: flex;
    padding: 0;
    padding-top: 8px;
    font-size: 10px;
    color: #93999f;
    line-height: 10px;
 }
 .des span{margin-right: 5px;}
 .price span{
	    padding-top: 18px;
	    font-size: 14px;
	    font-weight: 700;
	    color: #f01414;
	    line-height: 24px;
 }
 .shopcart{
 	box-sizing: border-box;
    height: 100%;
    line-height: 24px;
    color: #fff;
    font-size: 10px;
    padding: 0 12px;
    border-radius: 12px;
    background: #00a0dc;
    width:84px;
    height: 24px;
    position: absolute;
    right: 20px;
    bottom: 20px;
 }
 .divider{
 	height: 16px;
    width: 100%;
    background: #f3f5f7;
    border-top: 1px solid rgba(7, 17, 27, 0.1);
    border-bottom: 1px solid rgba(7, 17, 27, 0.1);
}
.list-inner{
	 padding: 18px;
	 background: #fff
}
.list-inner .title{
	font-size: 14px;
    font-weight: 500;
    color: #07111b;
    margin-bottom: 6px;
}
.list-inner .conten{
	width: 100%;
	font-size: 12px;
    font-weight: 200;
    color: #4d555d;
    line-height: 24px;
    padding: 0 8px;
}
.back span i{ font-size: 33px; }